@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	background:#f4f4f4;
	font-family: "Raleway";
}
.navbar{
	background:#608058;
}
.nav-link , .navbar-brand{
	color: #f4f4f4;
}
.nav-link{
	margin-right: 1em !important;
}
.nav-link:hover{
	color: #608058;

}
.navbar-collapse{
 justify-content: flex-end;
}

/*header style*/
.header{
	position: relative;
	background-image: url('../images/headerback.jpg');
	background-size: cover;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	background: rgba(244, 244, 244, 0.79);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1{
	color:#608058 ;
}
.description p{
	color:#666;
	font-size: 20px;
	line-height: 1.5;
}
.description button{
	border:1px  solid #608058;
	background:#608058;
	color:#fff;
}
.about{
	margin: 4em 0;
	padding: 1em;
	position: relative;
}
.about h1{
	color:#608058;
	margin: 2em;
}
.about img{
    border-radius: 50%
}
.about span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.about .desc{
	padding: 2em;
	border-left:4px solid #10828C;
}
.about .desc h3{
	color: #10828C;
}
.about .desc p{
	line-height:2;
	color:#888;
}

.team{
	margin: 4em 0;
	position: relative;

}
.team h1{
	color:#608058;
	margin: 2em;	
}
.team .item{
	position: relative;
	overflow: hidden;	
}
.team .des{
	background: #608058;
	color: #fff;
	text-align: center;
	border-top-right-radius: 93%;
	transition:.3s ease-in-out;
	position: absolute;
	width: 88%;
	bottom: 24px;


}
.team .item:hover .des{
	height: 100%;
	background:#6080587d;
    position: absolute;
	width: 89%;
	padding: 5em;
	top: 0;
	border-top-right-radius: 0;
}
.contact-form{
	margin: 6em 0;
	position: relative;		
}

.contact-form h1{
	padding:2em 1px;
	color: #608058; 
}
.contact-form .right{
	max-width: 600px;
}
.contact-form .right .btn-secondary{
	background:  #608058;
	color: #fff;
	border:0;
}
.contact-form .right .form-control::placeholder{
	color: #888;
	font-size: 16px;
}
/* Nibodh Training-Intership Program Files 
Boostrap Session 5 */

   